@use '../../../styles/mixins' as mixins;

$border-color: rgba(
  $color: #fff,
  $alpha: 0.08,
);

.sidebar {
  background-color: mixins.$dashboard-primary-color;
  display: flex;
  flex-direction: column;

  &__header {
    min-height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding-left: mixins.rem(31);

    img:hover {
      cursor: pointer;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: mixins.rem(20) 0;

    &__dashboard {
      border-bottom: 1px solid $border-color;
    }

    > :last-child {
      margin-top: auto;
    }
  }
}
