@use '../../../../styles/mixins' as mixins;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.formFont;

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 595px;
    height: 724px;
    background-color: #fff;
    position: relative;
  }

  .form {
    width: 376px;
    display: block;

    form {
      display: flex;
      flex-direction: column;
      gap: mixins.rem(32);
    }
  }
}

.close {
  position: absolute;
  top: mixins.rem(20);
  right: mixins.rem(20);
}
