@use '../../../../styles/mixins' as mixins;

.row {
  display: grid;
  background-color: #fff;
  padding: mixins.rem(0) mixins.rem(16) mixins.rem(0) mixins.rem(12);
  border-radius: 6px;
  cursor: default;
  font-weight: 700;
  font-size: mixins.rem(16);
  color: #111112;
  height: mixins.rem(56);

  div {
    margin: auto 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: mixins.rem(40);
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    fill: #bbb0c8;

    &:hover {
      fill: mixins.$primary-btn-color;
      cursor: pointer;
    }
  }
}
