@use '../../../styles/mixins' as mixins;

.button {
  @include mixins.formFont;
  height: mixins.rem(56);
  border: 0;
  font-weight: 500;
  font-size: mixins.rem(16);
  transition: background-color 0.3s;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.button--primary {
  color: #fff;
  background-color: mixins.$primary-btn-color;

  &:hover {
    background-color: mixins.$form-focus-color;
    cursor: pointer;
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:disabled {
    background-color: #d3beed;

    &:hover {
      cursor: default;
    }
  }
}

.button--secondary {
  background-color: mixins.$secondary-btn-color;
  color: #2c343a;

  a:hover {
    color: mixins.$form-focus-color;
    cursor: pointer;
  }
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
