@use '../../../styles/mixins' as mixins;

.back-arrow {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #000;
  font-size: mixins.rem(16);
  font-weight: 500;
  gap: mixins.rem(8);
  position: absolute;
  margin-left: mixins.rem(80);
  line-height: 24px;
}
