@use '../../../styles/mixins' as mixins;

.add-new-entity-button {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  border: 0;
  font-size: mixins.rem(14);
  font-weight: 500;
  height: mixins.rem(38);
  background-color: mixins.$primary-btn-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  padding: 0 16px 0;

  &:hover {
    cursor: pointer;
    background-color: mixins.$form-focus-color;
  }
}
