@use '../../../styles/mixins' as mixins;

.input {
  font-size: mixins.rem(14);

  &__label {
    font-weight: 400;
    color: mixins.$form-secondary-text-color;
    line-height: 24px;

    &.error {
      color: #da1b41;
    }
  }

  &__field {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    outline: 1px solid mixins.$inputs-border-color;
    font-size: mixins.rem(15);
    padding: mixins.rem(12) mixins.rem(16);
    margin-top: mixins.rem(4);
    line-height: 24px;

    &:not(:placeholder-shown) {
      outline: 1px solid black;
    }

    &.error {
      outline: 2px solid #da1b41;
    }

    &:focus {
      outline: 2px solid mixins.$form-focus-color;
    }

    &:disabled {
      background-color: mixins.$input-disabled-color;
      outline: 1px solid mixins.$inputs-border-color;
      color: mixins.$inputs-border-color;
    }
  }

  &:focus-within &__label {
    color: mixins.$form-focus-color;
  }

  &__error-messages {
    margin-top: mixins.rem(10);
    color: #da1b41;
    font-size: mixins.rem(12);
    font-weight: 500;
  }
}
