@use '../../../styles/mixins' as mixins;

.search-bar {
  height: mixins.rem(38);
  border: 1px solid #e4e7ed;
  width: mixins.rem(236);
  padding-left: mixins.rem(14);
  padding-right: mixins.rem(8);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;

  &__icon {
    flex-shrink: 0;
  }

  &__input {
    font-family: 'Nunito', sans-serif;
    all: unset;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: mixins.rem(12);
    font-weight: 500;

    &::placeholder {
      color: #9f9fb6;
    }
  }
}
