@use '../../../styles/mixins' as mixins;

.sign-in-link {
  text-align: center;
  font-size: mixins.rem(14);
  margin-top: mixins.rem(32);

  color: #505e68;
  .link {
    text-decoration: none;
    font-weight: 500;
    color: mixins.$form-focus-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
