@use '../../../../styles/mixins' as mixins;

.edit-student-form {
  display: flex;
  justify-content: center;
  gap: mixins.rem(80);

  .personal-info,
  .courses-and-groups {
    width: mixins.rem(376);
    display: flex;
    flex-direction: column;
    gap: mixins.rem(32);
  }

  .heading {
    font-size: mixins.rem(20);
    font-weight: 700;
    line-height: 32px;
  }

  .select-label {
    font-size: mixins.rem(14);
    line-height: 24px;
    font-weight: 400;
    color: mixins.$form-secondary-text-color;
    display: block;
    margin-bottom: mixins.rem(4);
  }
}

.image-upload {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .file-status,
  .file-requirements {
    font-size: mixins.rem(14);
    font-weight: 400;
    color: #505e68;
    line-height: 24px;
  }

  .file-status {
    margin: mixins.rem(8) 0 mixins.rem(24) 0;
    max-width: mixins.rem(180);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.upload-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: mixins.rem(168);
  height: mixins.rem(168);
  border-radius: 50%;
  background-color: #e4e0ff;
  cursor: pointer;
  position: relative;

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: mixins.rem(51);
    height: mixins.rem(51);
    background-color: mixins.$primary-btn-color;
    border-radius: 50%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

//  REACT-SELECT
.select-primary {
  [class$='-control'] {
    min-height: mixins.rem(48);
    font-size: mixins.rem(15);
    font-weight: 400;
    border-radius: 0;
    border: 1px solid #505e68;
    color: #000;
    box-shadow: none;
    cursor: pointer;
    padding-left: mixins.rem(16);

    &:hover {
      border: 1px solid #505e68;
    }
  }

  [class$='-singleValue'] {
    color: #000;
    margin-left: 0;
  }

  [class$='-multiValue'] {
    margin: mixins.rem(3);
    background-color: #f3f5fa;
  }

  [class$='-ValueContainer'] {
    padding: mixins.rem(3) mixins.rem(8) mixins.rem(3) 0;
  }

  [class$='-option'] {
    font-size: mixins.rem(15);
    font-weight: 400;
    cursor: pointer;
  }

  [class$='-menu'] {
    color: #000;
    font-size: mixins.rem(15);
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #505e68;
    margin-top: -1px;
  }

  [class$='-indicatorSeparator'] {
    display: none;
  }

  [class$='-dropdownIndicator'] {
    color: #000;
  }

  [class$='-indicatorContainer']:last-of-type {
    padding-right: mixins.rem(16);
  }
}
