@use 'sass:math';

$primary-btn-color: #7101ff;
$secondary-btn-color: #fff;

$form-secondary-text-color: #505e68;
$form-focus-color: #0101ff;

$inputs-border-color: #cad2d6;

$dashboard-dark-text-color: #111112;
$dashboard-light-text-color: #fff;

$dashboard-primary-color: #3f1e85;
$dashboard-accent-color: #4b259b;

$input-disabled-color: #f3f5fa;

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

@mixin formFont {
  font-family: 'Lexend', sans-serif;
}

@mixin dashboardFont {
  font-family: 'Nunito', sans-serif;
}

@mixin formBase {
  @include formFont;
  width: 376px;
}

@mixin formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}
