@use '../../../styles/mixins' as mixins;

.reset-password-link {
  text-align: center;
  font-size: mixins.rem(14);
  margin-top: mixins.rem(32);

  .resetLink {
    color: mixins.$form-secondary-text-color;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
