@use '../../../styles/mixins' as mixins;

.lectors-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: mixins.rem(40) mixins.rem(20) 0 mixins.rem(40);

  &__filters {
    display: flex;
    justify-content: flex-end;
    gap: mixins.rem(16);

    label {
      display: flex;
      align-items: center;
      font-size: mixins.rem(14);
      font-weight: 500;
      color: #afb7d3;
    }
  }
}
