@use '../../../styles/mixins' as mixins;

.table {
  height: 100%;

  margin-top: mixins.rem(20);

  &__header {
    display: grid;
    color: #9f9fb6;
    padding: 0 mixins.rem(16) mixins.rem(16) mixins.rem(12);
  }

  &__body {
    display: grid;
    gap: 8px;
  }
}
