@use '../../../styles/_mixins.scss' as mixins;

.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background: #f8f8f8;

  main {
    display: flex;
    flex-direction: column;

    .entity-view-contaiter {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: mixins.rem(40) mixins.rem(20) 0 mixins.rem(40);
    }
  }
}
