@use '../../../styles/mixins' as mixins;

.replace-image-button {
  text-decoration: none;
  @include mixins.dashboardFont;
  color: #000;
  border: 0;
  font-size: mixins.rem(13);
  font-weight: 500;
  height: mixins.rem(40);
  background-color: #f3f5fa;
  line-height: 16px;
  padding: 0 mixins.rem(60);

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    color: #abacaf;

    &:hover {
      cursor: default;
    }
  }
}
