@use '../../../styles/mixins' as mixins;

.pagination {
  @include mixins.dashboardFont;
  margin-top: auto;
  align-self: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: mixins.rem(30) 0;

  li {
    margin: 0 5px;
  }

  a {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
      background-color: mixins.$primary-btn-color;
      color: #fff;
    }
  }

  .previous,
  .next {
    font-weight: bold;
  }

  .disabled a {
    cursor: default;
    color: #999;
  }

  .active a {
    background-color: mixins.$primary-btn-color;
    color: white;
  }
}
