@use '../../../styles/mixins' as mixins;

.tab {
  text-decoration: none;
  padding: mixins.rem(17) 0 mixins.rem(17) mixins.rem(28);
  display: flex;
  align-items: center;
  color: mixins.$dashboard-light-text-color;
  font-weight: 500;
  font-size: mixins.rem(14);
  border-left: 4px solid transparent;
  cursor: pointer;

  &__name {
    margin-left: mixins.rem(12);
  }

  &:hover,
  &.active {
    background-color: mixins.$dashboard-accent-color;
    border-color: #fff;
  }
}
