@use '../../../styles/_mixins.scss' as mixins;

.title {
  text-align: center;
  margin-bottom: mixins.rem(32);

  &__heading {
    font-size: mixins.rem(20);
    font-weight: 700;
    margin: mixins.rem(44) 0 mixins.rem(32) 0;
  }

  &__message {
    font-size: mixins.rem(19);
    font-weight: 400;
    color: mixins.$form-secondary-text-color;
    line-height: mixins.rem(32);

    &--align-left {
      text-align: left;
    }
  }
}
