@use '../../../styles/mixins' as mixins;

.groups-view {
  &__filters {
    display: flex;
    justify-content: flex-end;
    gap: mixins.rem(16);

    .sort-by-label {
      display: flex;
      align-items: center;
      font-size: mixins.rem(14);
      font-weight: 500;
      color: #afb7d3;
    }
  }
}
