@use '../../../styles/mixins' as mixins;

.student-details-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  @include mixins.formFont;

  &__main {
    padding-top: mixins.rem(20);
  }
}
