@use '../../../../styles/mixins' as mixins;

.row {
  &__image {
    width: mixins.rem(40);
    height: mixins.rem(40);
    border-radius: 50%;
    background-color: #7101ff;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image_placeholder {
      margin: auto 0;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: mixins.rem(18);
    }
  }
}
