@use '../../../styles/mixins' as mixins;

.checkbox {
  height: 24px;
  display: flex;
  align-items: center;

  &__label {
    font-size: mixins.rem(14);
    font-weight: 500;
    color: mixins.$form-secondary-text-color;
  }

  &__input {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: 1px solid mixins.$inputs-border-color;
    margin-right: 16px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      border: 2px solid mixins.$form-focus-color;
    }

    &:checked {
      background-color: mixins.$form-focus-color;
      position: relative;
      border: 0;
    }

    &:checked::before {
      content: url('../../../assets/svg/checkbox_tick.svg');
      position: absolute;
      left: 4px;
      top: 3px;
    }

    &:checked:disabled {
      background-color: mixins.$inputs-border-color;

      &:hover {
        cursor: default;
      }
    }

    &:not(:checked):disabled {
      &:hover {
        border: 1px solid mixins.$inputs-border-color;
        cursor: default;
      }
    }
  }
}
