@use '../../../styles/mixins' as mixins;

.dashboard-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 mixins.rem(39) 0 mixins.rem(43);
  border-bottom: 1px solid #dee0e5;
  color: mixins.$dashboard-dark-text-color;

  &__tab-heading {
    font-size: mixins.rem(24);
    font-weight: 700;
    margin-right: auto;
    line-height: 24px;
  }

  &__image {
    width: mixins.rem(32);
    height: mixins.rem(32);
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.no-border {
    border: 0;
  }
}
